<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DELETE</title>
</head>
<body>
    <form action="" style="margin: auto;">
        <label for="delete-list" name="delete-list" id="delete-list"></label>
        <input type="button" name="delete-list" id="delete=list" value="DELETE LIST" onclick="window.location.href='{{url_for('dellist')}}'"></button>
        <label for="delete-card" name="delete-card" id="delete-card"></label>
        <input type="button" name="delete-card" id="delete-card" value="DELETE CARD" onclick="window.location.href='{{url_for('delcard')}}'"></button>
    </form>
</body>
</html>